*{
	margin:0;
	padding:0;
}
body
{
	background: url(image/aa.png) no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	display:flex;
	flex-direction: column;
}
header
{
	background-color: black;
	width: 100%;
}
a{
	text-decoration: none;
}
.headerimg 
{
display:inline-block;	
}
.topnav
{
	margin-left: 50px;
}

.searchone
{
	color:white;
	background-color:#272727;
height: 20px;
}
.searchtwo
{
	color:silver;
	border:0px;
	background-color:#2f2f2f;
margin-left:5px;
padding:10.5px;	
}
nav
{
display:inline-block;	
}
li 
{
text-decoration: none;	
}
.topnav li
{
display: inline-block;	
}
.topnav a
{
	padding:12px 15px;
	color:silver;
	font-size: 14px;
	font-weight: bold;
}
.topnav ul
{
margin-bottom: 0px;	
}
.topnav .icon
{
	display:none;
}
.maincontent
{
	display:inline-block;
	flex-direction: row;
}
.logo img
{
width: 90%;
margin:0 auto;
}
.firstblock
{
float:left;
	margin-bottom: 10px;
	display:inline-block;
	margin-left: 90px;
width: 56.4%;	
background-color:white;
padding-bottom: 100px;
}
.firsthead
{
	width: 100%;
	height: 5%;
background-color: #e1e1e1;
}
.secondblock
{
	float:left;
	margin-left: 80px;
	display:inline-block;
	background: white;
	width: 27%;
	height: 400px;
}

.firstimage img
{
	padding:10px 10px 10px 30px;
width: 90%;	
}
.firstblock h1
{
	padding-left: 10px;
font-size:30px;	
}
.firstblock h3
{
	font-size: 16px;
padding:20px;	
}
.firstblocktext
{
	margin-left:40px;
	width: 80%;	
}
.firstblock h4
{
	padding-left:40px;
	font-size: 16px;
}
.secondhead
{
	width: 100%;
	height: 17%;
background-color: #e1e1e1;
}
.imgone
{
padding:20px;
display:inline-block;	
}
.imgtwo
{
 padding:20px 0px 20px 20px;
display:inline-block;		
}
.imgthree
{
	padding:20px;
	display:inline-block;	
}
.imgfour
{
padding:20px;
display:inline-block;
}
.topnav li a:hover
{
background-color:#0ba6b8;
}
.firstblock h5
{
	padding-top:30px;
	color:silver;
	padding-left:40px;
	font-size: 16px;
}
.blockthree
{
	display:block;
	float:left;
	background-color:white;
	margin-top: 20px;
	margin-left:80px;
	display: inline-block;
		width:27%;
}
.blockthree h6
{
	font-size:19px;
padding:20px;
}
.imgone img, .imgtwo img, .imgthree img, .imgfour img {
	width: 100%;
}
.headblockthree, .headblockfour
{
	background-color:#e1e1e1;
width: 100%;
height:70px;	
}
.blockfour
{
	margin-top: 20px;
	margin-left:80px;
display:inline-block;
		width:27%;
	background-color:white;	
	margin-bottom: 10px;
}
.headblockthree h2, .headblockfour h4, .secondhead h5, .firsthead h2
{
color:black;
padding:20px;
font-size:19px;
}
.blockfour img
{
width: 90%;
	padding:10px 10px 10px 11px;
}
.imgupfooter img
{
width: 100%;	
}
.imgupfooter
{
	margin-top:10px;
	margin-bottom: 10px;
	margin:top;
	margin-left: 90px;
	display:inline-block;
}
.firstfooter
{
	background-color:black;
margin:0 auto;
}
.blog h1, .blog h2, .twitter h1, .flicker h1
{
	padding:3px;
font-size:18px;	
}
.blog h5, .blog h4, .twitter h2
{
	padding:3px;
font-size:14px;	
}
.blog, .twitter, .flicker 
{
display:inline-block;	
}
.line, .linetwo
{
	height: 2px;
width: 100%;
background-color:white;	
}
.twitter, .flicker, .blog
{
color:silver;
margin-left:5%;
}
.twitter h2
{
padding-bottom: 73px;
}
.flicker img
{
padding-bottom: 53px;	
}
.flicker
{
	display:inline-block;
	width: auto;
	height: auto;
}
.footer1image, .footer2image, .footer3image, .footer4image
{
display: inline-block;	
}
.footlogo
{
display:inline-block;
padding:30px 0px 30px 70px;	
}
.textsecondfoot h1, .textsecondfoot h2
{
	color:silver;
	display: inline;
font-size:10px;
}
.textsecondfoot
{
display:inline-block;	
}
.textsecondfoot h1
{
	text-align: center;
padding-left:40px;	
}
.textsecondfoot h2
{
	text-align: center;
padding-left:100px;	
}
footer
{
	margin:0 auto;
	height: auto;
width: 100%;	
}
.search
{
display:inline-block;	
}
.topnav [type="checkbox"]{
	display:none;
}
.topnav label.toggleMenu
{
	height: 45px;
display:none;	
position: relative;
cursor:pointer;
}
.topnav label.toggleMenu i
{
	color:white;
position: absolute;	
}






@media screen and (max-width: 1164px)
{
.blockfour
{
vertical-align: top;
}
}
@media screen and (max-width: 1119px)
{
	.blog , .twitter, .flicker
	{
	margin-left:2%;	
	}
.flicker img
{
padding-bottom: 0px;
}
}
@media screen and (max-width: 1164px)
{
.imgupfooter	
{
margin-left:10px;
margin-bottom:10px;	
}
}
@media screen and (max-width: 1040px)
{
.firstblock
{
margin-left:5%;	
}
.secondblock, .blockthree, .blockfour
{
margin-left: 50px;
}
.blockthree h6
{
font-size:15px;
}
}
@media screen and (max-width: 1164px)
{
.secondblock img
{
padding-left:35px;	
padding-right: 35px;
}
}
@media screen and (max-width: 950px)
{
.secondblock img
{
padding-left:0px;	
padding-right: 35px;
}
}
@media screen and (max-width: 765px){
.secondfooter h2
{
padding-left:10px;	
}	
}
@media screen and (max-width: 676px){
.secondfooter h2
{
display:block;	
}	
.footlogo
{
padding-bottom: 10px;	
}
}
@media screen and (max-width: 389px){
.seconfooter h1, .secondfooter h2
{
padding-left:0px;
margin:0;
}	
}
@media screen and (max-width: 422px){
.imgone , .imgtwo , .imgthree, .imgfour
{
margin-left:30%;	
}
}
@media screen and (max-width: 517px){

	.maincontent
	{
	flex-direction: column;	
	}
	.imgupfooter
	{
		margin-left: 0px;
	width: 100%;	
	}
    .secondblock{
    	display:block;
        width: 100%;
    }
    .imgtwo
    {
    	padding:20px;
    }
    .blockthree
    {
    	margin-left: 0px;
    	display:block;
    	width: 100%;
    } 
    .firstblock
    {
    	margin-left:0px;
    	width: 100%;
    }
    .blockfour
    {
    	margin-left:0px;
    	width: 100%;
    	display:inline-block;
    }
    .headblockthree h2, .headblockfour h4, .secondhead h5
    {
    font-size:15px;	
    }
    .blockthree h6
    {
    font-size:10px;	
    }
}
@media screen and (max-width: 516px){
.secondblock
{
margin-left:0;	
}
}
@media screen and (max-width: 407px){
.headblockfour h4
{
padding:20px;
font-size:14px;
}	
}
.firstblock .firstblocktext h3 h4{
	margin-left:0px;
	padding-left:0px;
}
}
@media screen and (max-width: 1314px){
}
    .secondblock{
        height: 50%;
    }
    .secondhead
	{
	height: 10%;	
	}
@media screen and (max-width: 1400px){
    nav{
        margin-left: 5%;
    }
}
@media screen and (max-width: 1200px){
    nav{
        margin-left: 10%;
    }
}
@media screen and (max-width: 1057px){
    nav{
        margin-left:0px;
    }
    .topnav
    {
    margin-left:0px;	
    }
}
@media screen and (max-width: 382px){
	.textsecondfoot h1
	{
padding:0px;
	}
}
.toggleMenu span {
	display: none;
}
@media screen and (max-width: 904px){
	.topnav li, .headerimg, .search
	{
display:none;
text-align: center;
width: 100%;
	}
    .topnav .toggleMenu li a
    {
    font-size:10px;	
    }
	.toggleMenu span {
		display: block;
		color:white;
		padding:10px;
	}
	.topnav .toggleMenu:hover li{
		display: inline-block;
	}
	.topnav .toggleMenu:hover .search{
		display: block;
	}
	.search .searchone 
	{
	width: 50%;
	height:50%;	
	}
}


